@media screen and (max-device-width: 375px)  {
    body{
        background-color: grey;
        display: flex;
        flex-direction: column;
    }
}

.h1{
    font-family: sans-serif;
    color: yellow;
    text-align: center;
    font-size: 5em;
} 


.block1{
    display: flex;
    flex-direction: row;
    border: solid black 1px;
}
.nav{
    border: solid black 1px;
}

header{
    border: solid black 1px;
}
.main{
    border: solid black 1px;
}
.footer{
    border: solid black 1px;
}
